.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 0rem 2rem;
    width: calc(100% - 4rem);
    max-width: 500px;
    min-height: calc(100vh - 85.33px - 2rem);
}

.selection-container {
    margin-bottom: 1rem;
    background-color: var(--bg-color2);
}

.selection-container input {
    padding: 0.25rem 1rem;
    background-color: transparent;
    border: none;
    color: whitesmoke;
}

.selection-container .selected {
    background-color: lightblue;
    color: black;
}

.total-info-container {
    margin-bottom: 1rem;
    background-color: var(--bg-color2);
    padding: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
}

.total-info-container div:first-of-type {
    margin-bottom: 1rem;
}

.total-info-container div hr {
    margin: 0.25rem 0;
}

.total-info-container div p:first-of-type {
    color: lightblue;
}

.total-info-container div p:nth-of-type(2) {
    color: whitesmoke;
}

.total-info-container div p:last-of-type {
    color: whitesmoke;
}

.fa-arrow-trend-up {
    color: lightgreen;
}

.fa-arrow-trend-down {
    color: lightcoral;
}

.pos-card {
    background-color: var(--bg-color2);
    width: calc(100% - 2rem);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.pos-card:last-child {
    margin-bottom: 0;
}

.pos-card p {
    color: whitesmoke;
    letter-spacing: 0.1rem;
}

.pos-card .stock-name {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.pos-card hr {
    height: 1px;
    background-color: lightblue;
    border-color: lightblue;
    margin-bottom: 1rem;
}

.pos-card .open-info {
    margin-bottom: 0.5rem;
    border: 2px solid darkgoldenrod;
    padding: 0.5rem;
}

.PNL.profit{
    color: lightgreen;
}

.PNL.loss{
    color: lightcoral;
}

.home-info {
    color: gray;
    margin-bottom: 1rem;
    text-align: center;
}

.home-info i:first-child {
    margin-right: 0.25rem;
}

.home-info i:last-child {
    font-size: 1.5rem;
}