.main-container {
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-name-container {
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-color2);
    color: whitesmoke;
    width: calc(100% - 1rem);
    max-width: 500px;
    border: 1px solid lightskyblue;
}

.positions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.positions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.sticky-position-container {
    background-color: var(--bg-color2);
    position: sticky;
    bottom: 0;
    width: calc(100% - 1rem);
    padding: 0.5rem;
}

.sticky-position-container .d1, .sticky-position-container .d2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sticky-position-container input[type="text"], .sticky-position-container input[type="number"] {
    padding: 0.5rem 1rem;
    background-color: var(--bg-color1);
    border-radius: 1rem;
    color: whitesmoke;
    border: 2px solid lightblue;
    outline: none;
    width: 7rem;
    margin: 0.5rem;
}

.sticky-position-container input[type="text"]::placeholder, .sticky-position-container input[type="number"]::placeholder {
    color: rgb(180, 180, 180);
}

.sticky-position-container input:focus {
    border: 2px solid lightskyblue;
}

.sticky-position-container input[type="button"] {
    width: min-content;
    align-self: center;
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    border: none;
    margin: 0.5rem;
}

.sticky-position-container .d2 input:first-child {
    background-color: lightgreen;
}

.sticky-position-container .d2 input:last-child {
    background-color: lightcoral;
}

.sticky-position-container input[type="button"]:hover {
    cursor: pointer;
}