.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 0rem 2rem;
    width: calc(100% - 4rem);
    max-width: 500px;
    min-height: calc(100vh - 85.33px - 2rem);
}

.settings-container button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: lightblue;
}

.settings-container button i {
    padding-right: 0.25rem;
}