.main-container {
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.navbar-container {
    position: sticky;
    bottom: 1rem;
    background-color: var(--bg-color2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(30, 30, 30);
    border: 2px solid grey;
}

.navbar-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--bg-color2);
    border: 2px solid lightblue;
    color: whitesmoke;
    border-radius: 1rem;
    margin-right: 1rem;
    transition: background-color 100ms ease-in-out,
                color 100ms ease-in-out;
}

.navbar-container button:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.navbar-container button:last-of-type {
    margin-right: 0rem;
}

.navbar-container button i {
    padding-bottom: 0.25rem;
}