.login-main-container {
    height: 100vh;
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: var(--bg-color2);
    width: 30%;
    max-width: 300px;
    padding: 3rem;
    box-shadow: 5px 5px 20px black;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container h1 {
    color: whitesmoke;
    margin-bottom: 2rem;
    text-align: center;
}

.login-container label {
    color: gray;
    margin-bottom: 0.25rem;
}

.login-container input[type="text"], .login-container input[type="password"] {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    background-color: var(--bg-color1);
    border-radius: 1rem;
    color: whitesmoke;
    border: 2px solid lightblue;
    outline: none;
}

.login-container hr {
    margin: 1rem 0;
}

.login-container input:focus {
    border: 2px solid lightskyblue;
}

.login-container input[type="submit"] {
    width: min-content;
    align-self: center;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    background-color: lightblue;
    border-radius: 0.75rem;
    border: none;
}

.login-container input[type="submit"]:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

.login-container .input-error {
    border-color: lightcoral !important;
}

.login-container .success-login {
    background-color: lightgreen !important;
}

.login-container > form > font {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .login-container {
        width: 50%;
        padding: 3rem;
    }
}