.not-found-main-container {
    height: 100vh;
    background-color: var(--bg-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-info-container {
    background-color: var(--bg-color2);
    width: 30%;
    max-width: 300px;
    padding: 3rem;
    box-shadow: 5px 5px 20px black;
}

.not-found-info-container h1 {
    color: whitesmoke;
    text-align: center;
}

.not-found-info-container hr {
    margin: 1rem 0;
}

.not-found-info-container p {
    color: gray;
    text-align: center;
}