.position-item-container {
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-color2);
    color: whitesmoke;
    width: calc(100% - 1rem);
    max-width: 500px;
}

.position-item-container:last-of-type {
    margin-bottom: 0;
}

.position-item-container p {
    width: 33%;
    text-align: center;
}

.buy {
    border: 1px solid lightgreen;
}

.sell {
    border: 1px solid lightcoral;
}